.container {
  background-color: paleturquoise;
  transform: skewX();
  font-family: arial;  
};
.main-header {
  position: relative;
  background-image; url('')
  width: 500px;
  height: 500px;
};
.h1 {
  position: relative;
  
}
.body {
  position: relative;
  background-image: url('')
  width: 500px;
  height: 500px;
}