
.page-header {
  font-family: 'Libre Baskerville', bold;
  margin: auto;
  width: 100%;
}

.page-header h1 {
  text-align: center;
  text-decoration: underline;
  font-weight: 300;
  font-size: 500%;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px rgb(30,242,241) , 3px 0 1px rgb(246,5,10) ;
}

.page-header p {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  text-decoration: underline;
}

.jumbotron {
  position: relative;
  left: 5px;
  right: 5px;
  bottom: 10px;
  background: #CFCFC4;
  opacity: .75;
  font-family: 'Libre Baskerville', bold;
  display: inline-block;
}

.jumbotron h2 {
  text-align: center;
}

.jumbotron h3 {
  text-align: center;
}

.carousel-inner .item {
  font-family: 'Libre Baskerville', serif;

}

.carousel-inner img {
  width: 100%;
}

.nav {
  font-family: 'Libre Baskerville', serif, black;
  align-content: right;
}

/*footer { 
  position: fixed;
  left: 0px;
  bottom: 10px;
  height: 50px;
  width: 100%;
  background: #999;
  opacity: .5;
  font-family: 'Libre Baskerville', bold;
  align-content: center;
}*/
